* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.frogimg {
  width: 50%;
  float: left;
  padding: 15px;
}

.frogquestion {
  width: 30%;
  float: left;
  padding: 15px;
}

.first {
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}
.second {
  padding:20px;
  float:left;
  width:30%; /* The width is 20%, by default */
  position: relative;
  top: 0;
  left: 0;
}

.third {
  padding:20px;
  float:left;
  width:30%; /* The width is 20%, by default */
}


.forth {
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

button {
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}


.img_frog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

.img_box {
  margin-left: auto;
  width: 40%;
  visibility: hidden;
  position: absolute;
  top: 65%;
  left: 55%;
}


h1 {
  font-family: Arial, Helvetica, sans-serif;

}

textarea {
  display: block;
  margin-left: strict;
  margin-right: auto;
  width: 60%;

}

@media screen and (max-width:800px) {
  .first , .second , .third , .forth {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    text-align: center;
  }
  .textarea{
    margin-left: auto;
      width: 65%;

  }
  .img_frog {
    width:60%;
    margin-top: 0px;
  }

  .img_box {
    width:22%;
  }
}
